* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
html {
  box-sizing: border-box;
  background: url("./oh-la-la.jpeg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
  padding: 20px;
}

.wrapper {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  max-width: 400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  box-shadow: 5px 5px 20px;
}

h2 {
  font-size: 1.8em;
  font: uppercase;
}

.plates {
  text-align: left;
}

.plates li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
}

.plates label {
}

.add-items {
  margin: 20px 0;
}

.add-items input {
  height: 37px;
  border: 1px solid #cfcfcf;
  padding: 10px;
}

.plates input {
  display: none;
}
/* didn't show the content of box */

.plates input + label::before {
  content: "⬜️";
  margin-right: 10px;
}
.plates input[type="checkbox"]:checked + label:before {
  content: "❤️";
}

.checkMethod {
  text-align: left;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 20px;
}

.check-all {
  margin-left: 5px;
}
