* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}

body {
  background-color: #7c94f4;
}

.search-form {
  display: flex;
  min-height: 100px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

input {
  border: 10px solid #f7f7f7;
  width: 500px;
  height: 30px;
  border-radius: 2%;
  display: flex;
  margin: 0px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 40px;
  padding: 20px;
  z-index: 2;
}

.suggestion {
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 14px;
  width: 400px;
  height: 40px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul > *:nth-child(odd) {
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(-3deg);
}

ul > *:nth-child(even) {
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(3deg) translateY(-3px);
}
